@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body {
	background-image: url("../images/blue background.jpg");
}

h1 {
    font-family: "wire-one";
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    color: white;
    font-style: oblique;
    font-weight: normal;
	border-bottom: medium solid white;
}

nav {
	text-align: center; 
}

.link a {
    font-family: 'wire-one';
    color: white;
    background: #D8CF0D;
	border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
    margin: 10px 30px;
    font-size: xx-large;
    font-style: normal;
    font-weight: 800;
	display: inline-block;
	}

.link a:hover {
	font-family: 'wire-one';
	color: #D8CF0D;
	background: white;
	border: 2px solid #D8CF0D;
	border-radius: 5px;
	padding: 4px;
	margin: 10px 30px;
	font-size: xx-large;
    font-style: normal;
    font-weight: 800;
	display: inline-block;
}

#profile-pic {
	max-height: 380px;
	border-radius: 50%;
	border-right: thick solid white;
	border-bottom: thick solid white;
	margin-left: 10%;
}

.quote {
    font-family: 'Permanent Marker', cursive;
	font-size: 36px;
	font-style: italic;
	color: white;
    max-width: 600px;
    text-align: center;
    display: inline;
    float: right;
	margin: 55px 50px;
	padding: 0px 20px;
	border-left: medium solid #D8CF0D;
	border-right: medium solid #D8CF0D;
}

.text {
	margin: auto;
}

P {
    font-family: 'wire-one';
    margin: 30px 20px;
    text-align: inherit;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
    color: black;
    border-bottom: medium solid white;
	border-right: thick solid white;
    padding: 5px;
    border-radius: 10px;
    background-color: #D8CF0D;	
}



